.hero {
    height: 80vh;
    background-image: url("../images/thumb-1920-1326363.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* background-color: rgba(0, 0, 0, 0.5); /* Overlay color with transparency */
    z-index: 1;
}
.hero .container {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
}